<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Booking</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <div>
        <p th:insert="~{fragments/nav-bar::nav}"></p>
    </div>
</header>
<main>
    <div th:if="${user.role.name() !='EMPLOYEE'}">
        <section class="text-center mt-2">
            <h3 th:text="${'Welcome to Our Hotel, ' + #strings.capitalize(#strings.toLowerCase(user.username))}">Welcome to Our
                Hotel</h3>
            <h4>You made an excellent choice of room number <span th:text="${room.roomNumber}"></span></h4>
            <h4>Please Fill in your booking request:</h4>
        </section>

        <form class="welcome login" th:action="@{'/bookings/new/' + ${roomId}}" th:method="POST" th:object="${bookingRequest}">
            <div class="form-group">
                <h2 class="text-center mt-2"><span class="badge badge-pill badge-dark">Booking</span></h2>

                <div class="label-holder text-white textCol d-flex justify-content-center">
                     <label for="checkInDate">Check-In Date:</label>
                </div>
                <input type="date" id="checkInDate" name="checkInDate" placeholder="Check-In Date" required
                       th:field="*{checkInDate}">
                <h4 th:if="${#fields.hasErrors('checkInDate')}" th:errors="*{checkInDate}"></h4>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="checkOutDate">Check-Out Date:</label>
                </div>
                <input type="date" id="checkOutDate" name="checkOutDate" placeholder="Check-Out Date" required
                       th:field="*{checkOutDate}">
                <h4 th:if="${#fields.hasErrors('checkOutDate')}" th:errors="*{checkOutDate}"></h4>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="createdAt">Created At Date and Time:</label>
                </div>
                <input type="datetime-local" id="createdAt" name="createdAt" placeholder="Created At" required
                       th:field="*{createdAt}">
                <h4 th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></h4>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="paymentStatus">Payment Status:</label>
                </div>
                <select id="paymentStatus" name="paymentStatus" required th:field="*{paymentStatus}">
                    <option value="">-- Select Payment Status --</option>
                    <option th:each="paymentStatus : ${T(app.payment.model.PaymentStatus).values()}"
                            th:value="${paymentStatus}"
                            th:text="${paymentStatus}">
                    </option>
                </select>
                <p th:if="${#fields.hasErrors('paymentStatus')}" th:errors="*{paymentStatus}"></p>
            </div>

            <div class="form-group">
                <label hidden for="totalPrice">Total Price:</label>
                <input hidden type="text" id="totalPrice" name="totalPrice" placeholder="Total Price" value="1"
                       th:text="*{totalPrice}">
                <p th:if="${#fields.hasErrors('totalPrice')}" th:errors="*{totalPrice}"></p>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="bookingStatus">Booking Status:</label>
                </div>
                <select id="bookingStatus" name="bookingStatus" required th:field="*{bookingStatus}">
                    <option value="">-- Select Booking Status --</option>
                    <option th:each="bookingStatus : ${T(app.booking.model.BookingStatus).values()}"
                            th:value="${bookingStatus}"
                            th:text="${bookingStatus}">
                    </option>
                </select>
                <h4 th:if="${#fields.hasErrors('bookingStatus')}" th:errors="*{bookingStatus}"></h4>
                <h4 th:text="${bookingException}"></h4>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" value="Login">Create Booking</button>
            </div>
        </form>
    </div>
    <div th:if="${user.role.name()=='EMPLOYEE'}" class="text-center mt-2"><h4>Employees are not allowed to make reservations!<h4></h4></div>

</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
