<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Employees</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <div>
        <p th:insert="~{fragments/nav-bar::nav}"></p>
    </div>
</header>
<main>
    <table class="table table-bordered table-success table-hover">
        <thead>
            <tr>
                <th height="35px">User Id</th>
                <th height="35px">Username</th>
                <th height="35px">First Name</th>
                <th height="35px">Last Name</th>
                <th height="35px">Phone Number</th>
                <th height="35px">Email</th>
                <th height="35px">Address</th>
                <th height="35px">Passport</th>
                <th height="35px">Change Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${employees}">
                <td th:text="${user.userId}" height="35px"></td>
                <td th:text="${user.username}" height="35px"></td>
                <td th:text="${#strings.isEmpty(#strings.capitalize(#strings.toLowerCase(user.firstName))) ? 'no first name' : (#strings.capitalize(#strings.toLowerCase(user.firstName)))}" height="35px"></td>
                <td th:text="${#strings.isEmpty(#strings.capitalize(#strings.toLowerCase(user.lastName))) ? 'no last name' : (#strings.capitalize(#strings.toLowerCase(user.lastName)))}" height="35px"></td>
                <td th:text="${#strings.isEmpty(user.phoneNumber) ? 'no phone number' : user.phoneNumber}" height="35px"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${#strings.isEmpty(user.address) ? 'no address' : (#strings.capitalize(#strings.toLowerCase(user.address)))}" height="35px"></td>
                <td th:text="${#strings.isEmpty(user.passport) ? 'no passport' : user.passport}" height="35px"></td>

                <td height="35px">
                    <form th:action="@{'/employees/' + ${user.userId}}" th:method="PUT">
                        <button class="profile-actions-button">Change Status</button>
                    </form>
                </td>

<!--                <td height="35px">-->
<!--                <form th:action="@{'/employees/' + ${user.userId}}" method="post">-->
<!--                    <input type="hidden" name="_method" value="put" />-->
<!--                    <button class="profile-actions-button">-->
<!--                        <p>Change Status</p>-->
<!--                    </button>-->
<!--                </form>-->
<!--                </td>-->
            </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/home}">Back to Home</a>
    </div>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>