<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<div>
    <p th:insert="~{fragments/nav-bar::nav}"></p>
</div>
<header>
    <h1 th:text="${'Welcome to Our Hotel, ' + #strings.capitalize(#strings.toLowerCase(user.username))}">Welcome to Our
        Hotel</h1>
</header>
<main>

    <h2><a th:href="@{/rooms}">Visit Our selection of Rooms and Suites</a></h2>
    <h3><i>Hotel information</i></h3>
    <nav>
        <ul>
            <li>Address: 1 Unknown str., Sofia 1000, Bulgaria.</li>
            <li>Internet is free: Stay connected through your stay with a high-speed Wi-Fi.</li>
            <li>Check-in time: 3 pm / Check-out time: 12 pm.</li>
            <li>Smoking policy: Non-smoking public spaces and rooms.</li>
            <li>Air Conditioning in every room: Stay cool and comfortable through your stay.</li>
            <li> We offer on-site parking for your convenience.</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>Check-In Date</li>
            <li>Check-Out Date</li>
            <li>Room Type</li>
            <!--            <button>Search Rooms</button>-->
        </ul>
        <div><a th:href="@{/rooms}">All Rooms</a></div>
        <div th:if="${user.role.name()=='ADMIN'}"><a th:href="@{/users}">All Users</a></div>
    </nav>

        <div th:if="${user.role.name()=='EMPLOYEE'}"><a th:href="@{/employees}">Employee</a></div>
            <div th:if="${user.role.name()=='EMPLOYEE'}">
                <a th:href="@{'/users/'+${user.id} + '/profile'}">
                    Please, enter your Personal Data
                </a >
            </div>

    <h4 th:if="${user.role.name() !='EMPLOYEE'}"><a th:href="@{/feedbacks/new}">Enter your opinion: </a></h4>

    <h4 th:if="${user.role.name() !='EMPLOYEE'}"><a th:href="@{/feedbacks/all}">Our travelers give their opinion:</a></h4>
    <table th:if="${user.role.name() !='EMPLOYEE'}" class="table table-striped table-dark">
        <thead>
            <tr>
                <th height="35px">Last Name:</th>
                <th height="35px">Opinion:</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="feedback:${allFeedbacks}">
                <td th:text="${feedback.lastName}" height="35px"></td>
                <td th:text="${feedback.message}" height="35px"></td>
            </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>