<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Internal Server Error Error Status 500</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
  <div>
    <p th:insert="~{fragments/nav-bar::nav}"></p>
  </div>
</header>
<main>
  <section class="text-center mt-2">
    <div>
      <h2>Something went wrong.</h2>
      <h5>Sorry for the inconvenience. Please contact the administrator.</h5>
      <h5>Error code: 500 Internal Server Error</h5>
      <h5>Additional Message: <span th:text="${errorMessage}"></span> </h5>
      <h5>Timestamp: <span th:text="${#temporals.format(#temporals.createNow(), 'dd-MM-yyyy HH:mm')}"></span></h5>
    </div>
    <div>
      <a th:href="@{/home}" class="buttons-info">Go back</a>
    </div>
  </section>
</main>
  <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>