<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found Specific Errors</title>
</head>
<body>
<div>
  <h2>We couldn't find that.</h2>
  <p>Requested resource was not found. Please contact the administrator.</p>
  <p>Error code: 404 Not Found</p>
  <p>Message: <span th:text="${errorMessage}"></span></p>
  <p>Timestamp: <span th:text="${#temporals.format(#temporals.createNow(), 'dd-MM-yyyy HH:mm')}"></span></p>
  </div>

<div>
  <a th:href="@{/home}" class="profile-actions-button">
    <p>Go back</p>
  </a>
</div>

</body>
</html>