<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Rooms</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <div>
        <p th:insert="~{fragments/nav-bar::nav}"></p>
    </div>
</header>
<main>
    <section class="text-center mt-2">
        <h3 th:text="${'Welcome to Our Hotel, ' + #strings.capitalize(#strings.toLowerCase(user.username))}"></h3>

        <h4>You can examine our <span th:text="${allRooms.size()}"></span> Rooms </h4>

        <div th:if="${user.role.name() !='EMPLOYEE'}">
             <h5>
                 <a th:href="@{'/users/'+${user.id} + '/profile'}">
                    Please, enter your Personal Data if you wish to book a room
                </a>
            </h5>
        </div>
    </section>
    <table class="table table-bordered table-success table-hover">
        <thead>
        <tr>
            <th height="35px">Image</th>
            <th height="35px">Room Number</th>
            <th height="35px">Room Id</th>
            <th height="35px">Type</th>
            <th height="35px">Description</th>
            <th height="35px">Price Per Night</th>
            <th height="35px" th:if="${user.role.name()!='EMPLOYEE'}">Book it</th>

            <th th:if="${user.role.name()=='ADMIN'}" height="35px">All Bookings for a Room</th>
            <th th:if="${user.role.name()=='ADMIN'}"height="35px">Edit Room Details</th>
            <th th:if="${user.role.name()=='ADMIN'}" height="35px">Delete Room</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="room:${allRooms}">
                <td style="width: 5%">
                    <a th:href="@{/rooms/{id}(id=${room.id})}">
                        <img class="mr-2" th:src="${room.imageUrl}" alt="Room Image" width="35px" height="35px">
                    </a>
                    <p>Click</p>
                </td>
                <td th:text="${room.roomNumber}" height="35px"></td>
                <td th:text="${room.id}" height="35px"></td>
                <td th:text="${room.type}"  height="35px"></td>
                <td th:text="${room.description}"  height="35px"></td>
                <td th:text="${room.pricePerNight + ' EUR/Night'}"  height="35px"></td>

                <td th:if="${user.role.name()!='EMPLOYEE'}">
                    <a th:if="${user.active}" th:href="@{'/bookings/new/' + ${room.id}}" ><p>Book it</p> </a>
                    <a th:unless="${user.active}" th:href="@{'/users/'+${user.id} + '/profile'}" ><p>Enter your personal Data then Book the room</p> </a>
                </td>

                <td th:if="${user.role.name()=='ADMIN'}" >
                    <a  th:href="@{'/bookings/' + ${room.id}}">Select All Bookings For A Room</a>
                </td>
                <td th:if="${user.role.name()=='ADMIN'}" >
                    <a th:href="@{'/rooms/' + ${room.id} + '/edit'}" width="35px" height="35px">Edit Room Details</a>
                </td>

                <td th:if="${user.role.name()=='ADMIN'}" >
                    <form th:action="@{'/rooms/' + ${room.id}}" th:method="DELETE" width="35px" height="35px">
                        <button class="btn-danger btn">Delete Room</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:if="${user.role.name()=='ADMIN'}"><a th:href="@{/bookings/all}">All Bookings</a></div>
    <hr class="my-3 bg-white w-50"/>
    <div th:if="${user.role.name()=='ADMIN'}"><a th:href="@{/rooms/new}">Add New Room</a></div>

</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>

